*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Noto Sans', sans-serif;
}

img {
   display: block;
   max-width: 100%;
}

.container {
   max-width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.none {
   display: none;
}

/* Section */
.section-button-wrapper {
   text-align: center;
}

/* Featured products */ 
.section-new {
   padding-top: 30px;
   padding-bottom: 35px;
}

.section-featured {
   padding-top: 35px;
   padding-bottom: 35px;
}

.section-blog {
   padding-top: 35px;
   padding-bottom: 25px;
}

.section-subscribe {
   padding-top: 25px;
   padding-bottom: 50px;
}

@media (min-width: 992px) {
   .section-new {
      padding-top: 60px;
      padding-bottom: 70px;
   }
   .section-featured {
      padding-top: 70px;
      padding-bottom: 70px;
   }
   .section-blog {
      padding-top: 70px;
      padding-bottom: 45px;
   }
   .section-subscribe {
      padding-top: 45px;
      padding-bottom: 100px;
   }
}