.footer {
   padding: 30px 0;
   color: #fff;
   background-color: #000;
}

.footer a {
   color: #fff;
}

.footer__column {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   margin-bottom: 25px;
   font-size: 14px;
   text-transform: uppercase;
   color: #FFFFFF;
}

@media (min-width: 992px) {
   .footer__nav {
      flex-direction: row;
      justify-content: center;
   }
}

.footer__nav a {
   text-decoration: none;
   transition: opacity 0.2s ease-in;
}

.footer__nav a:hover {
   opacity: 0.8;
}

.footer__nav > a + a {
   margin-top: 20px;
}

@media (min-width: 992px) {
   .footer__nav > a + a {
      margin-top: 0;
      margin-left: 30px;
   }
}

.footer__socials {
   margin-bottom: 25px;
   display: flex;
   align-items: center;
}

.footer__socials-link {
   text-decoration: none;
}

.footer__socials-link + .footer__socials-link {
   margin-left: 31px;
}

.footer__socials-icon {
   transition: fill 0.2s ease-in;
   fill:#fff
}

.footer__socials-icon:hover {
   fill:#F72464;
}

.footer__copyright {
   font-size: 14px;
   text-align: center;
   color: #999999;
}

.footer__copyright p {
   margin: 0;
}