.subscribe-form {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

@media (min-width: 540px) {
   .subscribe-form {
      display: flex;
      justify-content: center;
      flex-direction: row;
   }
}

.subscribe-form > * + * {
   margin-top: 10px;
}

@media (min-width: 540px) {
   .subscribe-form > * + * {
      margin-top: 0;
      margin-left: 10px;
   }
}

.subscribe-form__input {
   padding-left: 10px;
   padding-right: 10px;

   height: 42px;
   background: #FFFFFF;
   border: 1px solid #F72464;
   border-radius: 4px;

   font-family: 'Noto Sans', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1;
   color: #000000;
}

@media (min-width: 540px) {
   .subscribe-form__input {
      width: 230px;
   }
}

.subscribe-form__input::placeholder {
   color: #999999;
}

.subscribe-form__btn {
   display: inline-block;
   padding: 13px 30px;
   background: #F72464;
   border: none;
   border-radius: 4px;

   font-family: 'Noto Sans', sans-serif;;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1;
   color: #FFFFFF;

   cursor: pointer;
   transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

@media (min-width: 540px) {
   .subscribe-form__btn {
      width: 230px;
   }
}

.subscribe-form__btn:hover {
      box-shadow: 0px 2px 15px rgba(184, 13, 64, 0.671);
      background-color: #ff3874;
}
